*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url('acad.jpg');
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-size: cover;
    /*linear-gradient(to bottom,rgb(232, 212, 194),rgb(74, 131, 224)) ;*/
}
img{
	opacity: 1;
}
.head{
	background: rgb(214, 210, 207);
	max-width: 1200px;
	margin: 0 auto ;
	 opacity: 0.6;
  filter: alpha(opacity=60);
}
.nav{
	float: right;
}

.nav ul li{
	display: inline-block;
}

.nav ul li a{
	text-decoration: none;
	padding-right: 30px; 
	font:italic bold 30px 'Dancing Script', cursive ;
	color: black;
	line-height: 90px;
}

.nav ul li a:hover{
	color: rgb(85, 159, 178)
	
}

.sect{
	background: rgb(214, 210, 207);
	max-width: 1200px;
	margin: 0 auto ;
	margin-top: 0px;
	padding: 0px;
	 opacity: 0.6;
  filter: alpha(opacity=60);
}
ul{
	margin-left: 50px;
}
.article{
	font:italic bold 30px 'Dancing Script', cursive ;
	color: black;
	margin-top: 30px;
	}
.footer{
	background-color:  rgb(214, 210, 207);
	text-align: center;
	padding: 3px;
	max-width: 1200px;
	margin: 0 auto ;
	margin-top: 20px;
	 opacity: 0.6;
  filter: alpha(opacity=60);
  margin-top: 100px;
}
h1.anime{
	 text-shadow: 2px 2px 8px black;
	 animation: fadein 2s ease-in 0s;
	 text-rendering: optimizeLegibility;
}
@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}